@model User
<div class="login">
    <h1>Log In</h1>
    <form asp-action="Login" asp-controller="Home" method="POST">
        <p>Email: </p>
        <input class="email" type="email" asp-for="Email">
        <span asp-validation-for="Email"></span><br>
        <p>Password: </p>
        <input class="password" type="password" asp-for="Password">
        <span asp-validation-for="Password"></span><br>
        <button>Log In</button>
    </form>
    <a href="/">Registration</a>
    <br>
</div>		
